<main>
    <div class = "courses_heading">
        <div class="reviewHeading">
            <div class="courses_title">
                <h1>courses</h1>
            </div>
            <div class="admin">
                 <h1><a href="/courses/admin">Admin</h1>
            </div>
        </div>
    </div>
    <div class = "course_Collection"> <!-- Note: When changing this section be sure to modify sort.js as well --> 
    {{#each courses}}
        <div class = "card" onclick="location.href='../courses/{{this._id}}';">
            <h2><a href="/courses/{{this._id}}">{{this.courseId}} {{this.name}}</a></h2>
            <p>{{this.credits}}</p>
            <p>Professor: {{this.professorname}},  Email:{{this.professoremail}} </p>
            <p>TA: {{this.taname}},  Email: {{this.taemail}}</p>  
            {{#if this.rated}}  
            <p class="avg">{{this.rating}}/5</p>
            {{else}}
            <p class="avg">No Reviews</p>
            {{/if}}
            <br/>
        </div>
    {{/each}}
    </div>
    <script src="/public/javascript/sort.js"></script>
</main>