<main>
    <div class="course">
        <div class="container-widemode" id="positionfixed">
            <h1>{{course.courseId}}, {{course.name}}</h1>
            <div>
                <label>credits: {{course.credits}}</label>
            </div>
            <div>
                <label>Professor: {{course.professorName}}, Email:{{course.professorEmail}} </label>
            </div>
            <div>
                <label>TA: {{course.taName}}, Email: {{course.taEmail}}</label>
            </div>
            <div>
                <label>{{course.rating}}/5 ({{course.reviews.length}} Reviews)</label>
            </div>
       
            {{#each semsVal}}
            <div>
                <p>{{this.val}}: {{this.semrat}} </p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container-widemode" id="right">
        <h2>Reviews And Ratings</h2>
        {{#each reviews}}
        <div class="reviews">
            <div class="container-fullmode">
                <label>
                    <p><a href="/students/{{this.student._id}}">{{this.student.firstName}} {{this.student.lastName}}</a></p>
                    <p>{{this.semesterVal}}, Rating: {{this.rating}}/5</p>
                    <p>{{this.reviewText}}</p>
                </label>
                <h4>Comments</h4>
                <div class="comments">
                    {{#if ../studentLoggedIn}}
                    <form id="comment-form" name="commentForm" class="form-container" action="/comments/{{../currentStudentsData._id}}/{{this._id}}/{{this.courseId}}/add" method="POST">
                        <label>
                            <input type="textarea" name="commentValue" id="commentValue" placeholder="comment" rows="3" required />
                        </label>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                    {{/if}}
                    {{#each this.commentList}}
                    <div class="container-fullmode" id="white-card">
                        <p class="inline_para"><a href="../students/{{this.student._id}}">{{this.student.firstName}}
                                {{this.student.lastName}}</a></p>
                        <p id="comment-Val">{{this.commentText}}</p> 
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if adminLoggedIn}}
        <button class="add_review_btn" onclick="location.href='../courses/{{course._id}}/edit';">Edit course</button>   
    {{else if studentLoggedIn}}
    {{#if currentStudentsData.reviewedcoursePage}}
        <button id="reviewed_popup" class="add_review_btn" onclick="openAlert()">Add a Review</button>
    {{else}}
     <button id="add_review_popup" class="add_review_btn" onclick="opencreateReview()">Add a Review</button>
    {{/if}} 
    {{else}}
        <button class="add_review_btn" onclick="location.href='../students/login';">Add a Review</button>
    {{/if}}
    <div class="form-popup" id="add_review">
        <h2>Add a Review</h2>
        <form id="review_form" action="/reviews/{{course._id}}/add" method="POST" >
            <p> Select semester:
                <select name="selectSemester" id="selectSemester">
                    <option name="fall2022" value="fall2022">Fall 2022</option>
                    <option name="spring2022" value="spring2022">Spring 2022</option>
                    <option name="fall2021" value="fall2021">Fall 2021</option>
                </select>
            </p>
            <label>
                <input type="text" pattern="\d+" min="1" max="5" name="rating" id="rating"
                    placeholder="Enter your Rating" required/>
            </label>
            <label>
                <input type="text" name="reviewText" id="reviewText" placeholder="Enter your Review"
                    required />
            </label>
            <button type="submit" class="btn">Add Review</button>
            <button type="button" class="btn cancel" onclick="closecreateReview()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="openalert_form">
        <p>You have already added a Review!</p>
           <p>You can edit your Review in your Profile</a></p>
        <form id="review-edit_form" name="review-edit_form" class="form-container" action="javascript:void(0);">
            <button type="button" class="btn cancel" onclick="closeAlert()">Close</button>
        </form>
    </div>
    <div>
       
    </div>
    <script>
        function opencreateReview() {
            document.getElementById("add_review").style.display = "block";
             document.getElementById("add_review_popup").style.display = "none";
        }
        function openAlert() {
            document.getElementById("openalert_form").style.display = "block";
            document.getElementById("add_review_btn").style.display = "none";
        }
        function closecreateReview() {
            document.getElementById("add_review").style.display = "none";
            document.getElementById("add_review_popup").style.display = "block";
        }
        function closeAlert() {
            document.getElementById("openalert_form").style.display = "none";
            document.getElementById("add_review_btn").style.display = "block";
        }
    </script>
</main>