<main>
    <h1>Courses</h1>
    {{#each courses}}
    <div class="each-section" onclick="location.href='../courses/{{this._id}}';">
        <h2><a href="/courses/{{this._id}}">{{this.courseId}} {{this.name}} </a></h2>
        <div>
            <p>credits: {{this.credits}}</p>
        </div>
        <div>
            <p>Professor: {{this.professorName}}, Email:{{this.professorEmail}} </p>
        </div>
        <div>
            <p>TA: {{this.taName}}, Email: {{this.taEmail}}</p>
        </div>
        {{#if this.isRated}}
        <div>
            <p>{{this.rating}}/5</p>
        </div>
        {{else}}
        <div>
            <p>No Review available for this course</p>
        </div>
        {{/if}}
        <br />
    </div>
    {{/each}}
    </div>
    
</main>