<main>
    <div class="container">
        <h1>Edit course</h1>
        <form method="POST" action="/courses/{{course._id}}/edit">
            <label for="name">Course Name: </label>
            <input type="text" name="name" id="name" value="{{course.name}}" placeholder="Course Name" readonly />
            <label for="courseid">Course Id: </label>
            <input type="text" name="courseId" id="courseId" value="{{course.courseId}}" placeholder="Course Id"
                readonly />
            <label for="credits">Course Credits: </label>
            <input type="text" name="credits" id="credits" value="{{course.credits}}" placeholder="Course Credits"
                readonly />
            <label for="professorName">Professor Name: </label>
            <input type="text" name="professorName" id="professorName" value="{{course.professorName}}"
                placeholder="Professor Name" required/>
            <label for="professorEmail">Professor email: </label>
            <input type="text" name="professorEmail" id="professorEmail" value="{{course.professorEmail}}"
                placeholder="Professor email" required/>
            <label for="taName">TA Name: </label>
            <input type="text" name="taName" id="taName" value="{{course.taName}}" placeholder="TA Name" required/>
            <label for="taEmail">TA Email: </label>
            <input type="text" name="taEmail" id="taEmail" value="{{course.taEmail}}" placeholder="TA Email" required/>
            <input type="submit" value="Edit Course" class="btn" />
        </form>
    </div>
    
</main>