<main>
    <div class="card-wide" id ="sticky">
        <h1>{{firstName}} {{lastName}} </h1>
        <p>{{email}}</p>
    </div>
    
    <div class="card-wide" id="right">
        <h2>Edit Profile</h2>
        <form id="edit-profile" action="/students/myprofile" method="post">
            <label for="firstName">
                <input type="text" id="firstName" name="firstName" class="inputFields" placeholder="First Name" value="{{firstName}}">
            </label>
            <label for="lastName">
                <input type="text" id="lastName" name="lastName" class="inputFields" placeholder="Last Name" value="{{lastName}}">
            </label>
            <label for="email">
                <input type="text" id="email" name="email" class="inputFields" placeholder="Email" value="{{email}}">
            </label>
             <label for="password">
                <input type="password" id="password" name="password" class="inputFields" placeholder="New Password" minlength="8" class = "inputFields" onblur="passwordOnBlur(this)" onfocus="passwordOnFocus(this)" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            </label>
            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
            <label for="confirm">
                <input type="password" id="confirm" name="confirm" class="inputFields" placeholder="Confirm Password">
            </label>
            <label>
                <button type="submit" class = "btn">Confirm</button>
            </label>
        </form>

        <div>
            {{#if hasErrors}}
                <ul class="error">
                    {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
    <script>
        function passwordOnBlur(x){
            document.getElementById("message").style.display = "none";
        }

        function passwordOnFocus(x) {
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var length = document.getElementById("length");
            document.getElementById("message").style.display = "block";

            // When the user starts to type something inside the password field
            x.onkeyup = function() {
                // Validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if(x.value.match(lowerCaseLetters)) {  
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                }
                
                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if(x.value.match(upperCaseLetters)) {  
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if(x.value.match(numbers)) {  
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                }
                
                // Validate length
                if(x.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                }
            }
        }
        
    </script>
</main>