<main>
    <div class="container-widemode" id ="positionfixed">
        <h1>{{firstName}} {{lastName}} </h1>
        <p>{{email}}</p>
    </div>
    
    <div class="container-widemode" id="right">
        <h2>Reviews</h2>
        {{#each reviews}}
        <div>
            <div class="container-fullmode">
                <div class="reviewHeading">
                    <div class="reviewerName">
                        <p class = "course_name"><a href="/courses/{{this.course._id}}">{{this.course.name}}</a></p>
                    </div>
                    <div class="reviewerRating">
                        <p class = "course_rating"><a href="/reviews/{{this.review._id}}">Your Rating: {{this.review.rating}}</a></p>
                    </div>
                </div>
                
                <div class = "reviewData">
                    <p>{{this.review.reviewData}}</p>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Options</button>
                    <div class="dropdown-content">
                        <p><a href="/reviews/{{this.review._id}}/edit">Edit Review</a></p>
                        <p><a href="../reviews/{{this.course._id}}/{{this.review._id}}/delete">Delete Review</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        
</main>